<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taconeta</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div id="app">

  <div class='container'>

    <div class="header-container">
      <div class="logo-container">
        <img src="images/logoHorizontal.png" alt="Logo del local" class="logo" />
      </div>
      <div class="menu-title">
        <img src="images/menu.png" alt="Menú" class="menu-text" />
      </div>
    </div>

    <img src="images/flor.png" class="ingredient">
    <img src="images/greenChile.png" class="ingredient">
    <img src="images/redChile.png" class="ingredient">
    <img src="images/lemon.png" class="ingredient">
    <img src="images/tacoAngulo.png" class="ingredient">
    <img src="images/hat.png" class="ingredient">

    <div class='menu-grid'>
      <div class='menu-item' v-for='item in menu' :key='item.name' @click="openModal(item)">
        <img :src="item.images[0]" :alt="item.name" class='menu-img' />
        <div class='description'>
          <h2>{{ item.name }}</h2>
          <p class='price'>$ {{ item.price }}</p>
          <p class='ingredients'>{{ item.ingredients.join(', ') }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div v-if="modalOpen" class="modal">
    <div class="modal-overlay" @click="closeModal"></div>
    <div class="modal-content">
      <span class="close" @click="closeModal">&times;</span>
      <div class="image-gallery">
        <!-- Botón para retroceder -->
        <button class="nav-button prev" @click="previousImage">&#10094;</button>

        <!-- Imagen actual -->
        <img :src="selectedItem.images[currentImageIndex]" class="modal-img" />

        <!-- Botón para avanzar -->
        <button class="nav-button next" @click="nextImage">&#10095;</button>
      </div>
    </div>
  </div>

</div>

<script src="app.js"></script>
</body>
</html>